{% extends 'blog/layout.html' %}
{% load crispy_forms_tags %}


{% block content %}


    <div class="border border-danger, rounded">
        <div class="form-group">

            <label for="exampleFormControlTextarea1" class="left-aligned">제목</label>
            <input class="form-control" type="text" placeholder="{{ blogs.title }}" readonly>

            <label for="exampleFormControlTextarea1">날짜</label>
            <input class="form-control" type="text" placeholder="{{ blogs.pub_date }}" readonly>



            <label for="exampleFormControlTextarea1">게시글</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                readonly="readonly">{{ blogs.body }}</textarea>

            <label for="exampleFormControlTextarea1">해시태그</label>
            {% for hashtag in blogs.hashtags.all %}
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                readonly="readonly">{{ hashtag.name }}</textarea>
            {% endfor %}
            <label for="exampleFormControlTextarea1">이미지</label>

            <div class="card" style="width: 18rem;">
                {% if blogs.image %}
                <img class="card-img-top" src="{{ blogs.image.url }}" alt="Card image cap">
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{ blogs.imageTitle }}</h5>
                  <p class="card-text">{{ blogs.imageText }}</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          
        </div>



<br>
<a class="btn btn-outline-primary" href="{% url 'edit' blogs.id %}" role="button">수정</a>
<a class="btn btn-outline-danger" href="{% url 'remove' blogs.id %}" role="button">삭제</a>
<a class="btn btn-outline-secondary" href="{% url 'textlist' %}" role="button">목록으로</a>




</div>
<br>
<form method="POST">
    {% csrf_token %}
    <div class="form-group">


        {{ form.comment_text|as_crispy_field }}
    </div>

    <input class="btn btn-dark" type="submit" value="제출하기">
</form>

{% for comment in blogs.comments.all %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">

    <div class="row">
        <div class="col-sm-1">
            <div class="thumbnail">
                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
            </div><!-- /thumbnail -->
        </div><!-- /col-sm-1 -->


        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{comment.id}}</strong>
            </div>
            <div class="panel-body">
                {{ comment }}
            </div><!-- /panel-body -->
            <a class="btn btn-outline-primary" href="{% url 'commentedit' blogs.id comment.id %}" role="button">댓글수정</a>
            <a class="btn btn-outline-danger" href="{% url 'commentremove' blogs.id comment.id %}"
                role="button">댓글삭제</a>
        </div><!-- /panel panel-default -->


        <!--  -->
    </div><!-- /row -->


</div><!-- /container -->
{% endfor %}

{% endblock %}