{% extends 'blog/layout.html' %}

{% block content %}

<div class="dropdown">
  <button class="btn btn-secondary float-right dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Hashtag 검색
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for hashtag in hashtags.all %}
    <a class="dropdown-item" href="{% url 'search' hashtag.id %}">{{ hashtag.name }}</a>
    {% endfor %}
  </div>
</div>
<br><br>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">제목</th>
        <th scope="col">날짜</th>
        <th scope="col">본문</th>
      </tr>
    </thead>
{% for blog in blogs.all %}
    <tbody>
      <tr>
        <th scope="row">{{ blog.id }}</th>
        <td><a class="nav-item nav-link" href="{% url 'home' blog.id %}">{{ blog.title }}</a></td>
        <td>{{ blog.pub_date }}</td>
        <td>{{ blog.body }}</td>
      </tr>
      
    </tbody>
{% endfor %}
  </table>

{% endblock %}